@import "header";
@mixin centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin rowFlex{
  @include centerFlex;
  flex-direction: row;
}

@mixin colFlex{
  @include centerFlex;
  flex-direction: column;
}
@media screen and (max-width: 750px) {
  body {
    --height-topbar: 20vh!important;
  }
}
body{
  font-family: 'Noto Sans Mende Kikakui', sans-serif;
  background: var(--w);
  --width-main:70%;
  --height-topbar: 12vh!important;

  header{height: auto!important}
  main{
    width: 100%;
    @include colFlex;
    justify-content: flex-start;
    height: calc(var(--height-window) - var(--height-topbar));
    position: absolute;
    top: var(--height-topbar);
    overflow-x: clip;
    box-shadow: none!important;
    padding:0 1em 1em;
    gap: 1em;
    .notify{
      background: var(--w);
      border-radius: 10px;
      padding: 1em;
      display: none;
    }
    .setup-wrapper{
      --height-form:50%;
      --height-preview:calc(100% - var(--height-form));
      @include colFlex;
      background: var(--background);
      width: 80%;
      height: 100%;
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid var(--border-color);
      @media all and (max-width: 1200px) {
        width: 100%;
      }
      .tabs-container-settings{
        width: 100%;
        height: var(--height-form);
        .header-settings{
          @include rowFlex;
          gap: 1em;
          background: var(--btn-main-bg);
          padding: 1em;
          position: sticky;
          top: 0;
          border-bottom: 1px solid var(--border-color);
          label{
            padding: .2em .5em;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            span{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
            input{display: none}
            input:checked + span {background: var(--active-color)}
          }

          button{
            margin-right: auto;
            width: fit-content;
          }
        }
        form{
          //@include colFlex;
          width: 100%;
          height: 100%;
          [class^="page-"] {width: 100%}
          padding: 1em;
          overflow-y: auto;
          .row,
          .sub-row{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1em;
            h1{
              display: flex;
              align-items: baseline;
              flex-direction: row;
              gap: 0.5em;
            }
            label{
              @include rowFlex;
              justify-content: flex-start;
              gap: 1em;
              width: 100%;
              white-space: nowrap;
              input[type="text"]{
                width: 100%;
                background: var(--w);
                border: 1px solid var(--border-color);
                border-radius: 5px;
                padding: 0.5em 1em;
              }
            }
            p{
              margin-top: .5em;
              color: var(--grad1);
            }
          }
          .sub-row{
            width: 100%;
            flex-direction: row;
            gap: 1em;
            .col{
              width: 100%;
              display: flex;
              flex-direction: column;
              border: 1px solid var(--border-color);
              border-radius: 5px;
              overflow: hidden;
              .header-col{
                background: var(--border-color);
                padding: 1em;
              }
              .data-col{
                display: flex;
                flex-direction: column;
                gap: .5em;
                padding: 1em;
                .line{
                  @include rowFlex;
                  align-items: center;
                  gap: .5em;
                  text{margin-right: auto}
                  label{
                    display: grid;
                    grid-template-columns: 1fr auto;
                    border-radius: 5px;
                    width: fit-content;
                    gap: 0;
                    &:last-child{border: 1px solid var(--border-color)}
                    input[type="color"]{
                      border: none;
                      background: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .preview-container{
        height: var(--height-preview);
        background: linear-gradient(135deg, var(--grad1) 0%, var(--grad2) 100%) fixed !important;
        width: 100%;
        @include colFlex;
        justify-content: flex-end;
        position: relative;
        .view{
          position: absolute;
          bottom: -30%;
          width: 80%;
          height: 60vh;
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid var(--border-color);
          font-size: 11px;
          background: linear-gradient(135deg, var(--grad1) 0%, var(--grad2) 100%) !important;
          //box-shadow: rgba(50, 50, 93, 0.25) 0px -50px 100px -20px, rgba(0, 0, 0, 0.3) 0px -30px 60px -30px;
          box-shadow: rgb(50 50 93 / 12%) 0px -50px 100px -20px, rgb(116 116 116 / 37%) 0px -30px 60px -30px, rgb(54 54 54 / 65%) 100px 200px 100px 0;
          @media all and (max-width: 900px) {width: 90%}
          .header{
            @extend header;
            position: relative;
            border: none;
            img{width: 36px!important;}
            a{
              cursor: pointer;
              display: flex;
              &.pr-title{
                text-decoration: none;
                font-size: 1.8em;
                color: var(--b);
              }
            }
            .main{
              height: auto;
              padding: 1em;
            }
            .tabs_header{height: 5vh!important;}
          }
          .content{
            --width-aside:30%;
            --width-wrapper: calc(100% - var(--width-aside));
            @include rowFlex;
            height: 100%;
            div.aside{
              width: var(--width-aside);
              padding: 1em;
              height: 100%;
              background: var(--background-op);
              @media all and (max-width: 800px) {display: none}
              .collapsible{
                border-radius: 5px;
                overflow: hidden;
                border: 1px solid var(--border-color);
                *{border: none}
                li:last-child .collapsible-header{
                  border-top: 1px solid var(--border-color)!important;
                }
                .collapsible-body{
                  .buttons-to-section{
                    label{font-size: 11px!important}
                  }
                }
              }
            }
            .wrapper{
              width: var(--width-wrapper);
              height: 100%;
              padding: 1em;
              @media all and (max-width: 800px) {width: 100%}
              *{font-size: 11px}
              ul{
                display: flex;
                flex-direction: column;
                gap: 1em;
                li{
                  border-radius: 5px!important;
                  border: 1px solid rgba(var(--rgb) / 18%);
                  .collapsible-header{
                    background: var(--background-op);
                    color: var(--b);
                    border: none;
                    box-shadow: none;
                    h1{
                      width: 100%;
                      display: flex;
                      i{margin-left: auto}
                    }
                    p{white-space: nowrap}
                  }
                  .collapsible-body{
                    background: var(--background);
                    color: var(--b);
                  }
                }
              }
            }
          }
        }
      }





      hr{
        width: 100%;
        border:1px solid var(--w);
        background: var(--w);
        border-right: 1000px;
      }
    }
  }
}