body header, body main .setup-wrapper .preview-container .view .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-topbar);
  z-index: 9999;
  background: var(--w);
  border: 1px solid var(--border-color);
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  background: var(--w) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: none !important;
}
body header .main, body main .setup-wrapper .preview-container .view .header .main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  margin-top: auto;
  height: 10vh;
}
body header .tabs_header, body main .setup-wrapper .preview-container .view .header .tabs_header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 6vh;
  background: var(--topbar);
}
body header .tabs_header a, body main .setup-wrapper .preview-container .view .header .tabs_header a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: var(--b);
}
body header .tabs_header a:hover, body main .setup-wrapper .preview-container .view .header .tabs_header a:hover {
  color: var(--active-color);
}
@media screen and (min-width: 1800px) {
  body header .tabs_header a:first-child, body main .setup-wrapper .preview-container .view .header .tabs_header a:first-child {
    padding-left: 0;
  }
}
body header .tabs_header label, body main .setup-wrapper .preview-container .view .header .tabs_header label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5em;
  width: fit-content;
  padding: 0 0.5em;
  margin: auto 1em auto auto;
  border-radius: 5px;
  height: 70%;
  background: var(--border-color);
  border: 1px solid var(--border-color);
  color: var(--b);
  cursor: pointer;
}
body header .tabs_header label input, body main .setup-wrapper .preview-container .view .header .tabs_header label input {
  display: none;
}
body header .tabs_header label i, body main .setup-wrapper .preview-container .view .header .tabs_header label i {
  transition: 0.5s;
}
body header #website-title, body main .setup-wrapper .preview-container .view .header #website-title {
  text-decoration: none;
  font-size: 1.8em;
  color: var(--b);
}
body header #server-logo, body main .setup-wrapper .preview-container .view .header #server-logo {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 2px;
}
body header .logo-server, body main .setup-wrapper .preview-container .view .header .logo-server {
  margin-left: auto;
}
body header .hamburger-menu, body main .setup-wrapper .preview-container .view .header .hamburger-menu {
  display: none;
  width: fit-content;
  border-color: var(--border-color) !important;
}
body header .hamburger-menu .icon, body main .setup-wrapper .preview-container .view .header .hamburger-menu .icon {
  position: absolute;
  top: -0.8em;
  right: -1em;
  background: var(--active-color);
  border-radius: 1000px;
  width: 2em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
body header .hamburger-menu .icon i, body main .setup-wrapper .preview-container .view .header .hamburger-menu .icon i {
  color: var(--w);
}
body header .loading-bar, body main .setup-wrapper .preview-container .view .header .loading-bar {
  height: 5px;
  width: 100vw;
  background: var(--topbar);
  position: absolute;
  bottom: -1px;
  left: -1px;
  overflow: hidden;
}
body header .loading-bar .container, body main .setup-wrapper .preview-container .view .header .loading-bar .container {
  width: 100%;
  height: 100%;
  position: relative;
}
body header .loading-bar .container .loader, body main .setup-wrapper .preview-container .view .header .loading-bar .container .loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  border-radius: 100px;
  background: var(--active-color);
  animation: 3s loading infinite ease-in;
}
body header .loading-bar .container .loader:nth-child(1), body main .setup-wrapper .preview-container .view .header .loading-bar .container .loader:nth-child(1) {
  animation-delay: 1s;
}
@keyframes loading {
  0% {
    width: 0;
    margin-left: -100%;
  }
  100% {
    width: 100%;
    margin-left: 100%;
  }
}
@media screen and (max-width: 1300px) {
  body header *:not(.pages) #website-title, body main .setup-wrapper .preview-container .view .header *:not(.pages) #website-title,
body header *:not(.pages) .right-align,
body main .setup-wrapper .preview-container .view .header *:not(.pages) .right-align {
    display: none;
  }
  body header *:not(.pages) .hamburger-menu, body main .setup-wrapper .preview-container .view .header *:not(.pages) .hamburger-menu {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  body header, body main .setup-wrapper .preview-container .view .header {
    --height-topbar: 20vh!important;
  }
  body header .tabs_header span[class^=tabs], body main .setup-wrapper .preview-container .view .header .tabs_header span[class^=tabs] {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  body {
    --height-topbar: 20vh!important;
  }
}
body {
  font-family: "Noto Sans Mende Kikakui", sans-serif;
  background: var(--w);
  --width-main:70%;
  --height-topbar: 12vh!important;
}
body header, body main .setup-wrapper .preview-container .view .header {
  height: auto !important;
}
body main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(var(--height-window) - var(--height-topbar));
  position: absolute;
  top: var(--height-topbar);
  overflow-x: clip;
  box-shadow: none !important;
  padding: 0 1em 1em;
  gap: 1em;
}
body main .notify {
  background: var(--w);
  border-radius: 10px;
  padding: 1em;
  display: none;
}
body main .setup-wrapper {
  --height-form:50%;
  --height-preview:calc(100% - var(--height-form));
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: var(--background);
  width: 80%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
@media all and (max-width: 1200px) {
  body main .setup-wrapper {
    width: 100%;
  }
}
body main .setup-wrapper .tabs-container-settings {
  width: 100%;
  height: var(--height-form);
}
body main .setup-wrapper .tabs-container-settings .header-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 1em;
  background: var(--btn-main-bg);
  padding: 1em;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
}
body main .setup-wrapper .tabs-container-settings .header-settings label {
  padding: 0.2em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
body main .setup-wrapper .tabs-container-settings .header-settings label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body main .setup-wrapper .tabs-container-settings .header-settings label input {
  display: none;
}
body main .setup-wrapper .tabs-container-settings .header-settings label input:checked + span {
  background: var(--active-color);
}
body main .setup-wrapper .tabs-container-settings .header-settings button {
  margin-right: auto;
  width: fit-content;
}
body main .setup-wrapper .tabs-container-settings form {
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow-y: auto;
}
body main .setup-wrapper .tabs-container-settings form [class^=page-] {
  width: 100%;
}
body main .setup-wrapper .tabs-container-settings form .row,
body main .setup-wrapper .tabs-container-settings form .sub-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
body main .setup-wrapper .tabs-container-settings form .row h1,
body main .setup-wrapper .tabs-container-settings form .sub-row h1 {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: 0.5em;
}
body main .setup-wrapper .tabs-container-settings form .row label,
body main .setup-wrapper .tabs-container-settings form .sub-row label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
  white-space: nowrap;
}
body main .setup-wrapper .tabs-container-settings form .row label input[type=text],
body main .setup-wrapper .tabs-container-settings form .sub-row label input[type=text] {
  width: 100%;
  background: var(--w);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5em 1em;
}
body main .setup-wrapper .tabs-container-settings form .row p,
body main .setup-wrapper .tabs-container-settings form .sub-row p {
  margin-top: 0.5em;
  color: var(--grad1);
}
body main .setup-wrapper .tabs-container-settings form .sub-row {
  width: 100%;
  flex-direction: row;
  gap: 1em;
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col .header-col {
  background: var(--border-color);
  padding: 1em;
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col .data-col {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col .data-col .line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col .data-col .line text {
  margin-right: auto;
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col .data-col .line label {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 5px;
  width: fit-content;
  gap: 0;
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col .data-col .line label:last-child {
  border: 1px solid var(--border-color);
}
body main .setup-wrapper .tabs-container-settings form .sub-row .col .data-col .line label input[type=color] {
  border: none;
  background: none;
}
body main .setup-wrapper .preview-container {
  height: var(--height-preview);
  background: linear-gradient(135deg, var(--grad1) 0%, var(--grad2) 100%) fixed !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
body main .setup-wrapper .preview-container .view {
  position: absolute;
  bottom: -30%;
  width: 80%;
  height: 60vh;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  font-size: 11px;
  background: linear-gradient(135deg, var(--grad1) 0%, var(--grad2) 100%) !important;
  box-shadow: rgba(50, 50, 93, 0.12) 0px -50px 100px -20px, rgba(116, 116, 116, 0.37) 0px -30px 60px -30px, rgba(54, 54, 54, 0.65) 100px 200px 100px 0;
}
@media all and (max-width: 900px) {
  body main .setup-wrapper .preview-container .view {
    width: 90%;
  }
}
body main .setup-wrapper .preview-container .view .header {
  position: relative;
  border: none;
}
body main .setup-wrapper .preview-container .view .header img {
  width: 36px !important;
}
body main .setup-wrapper .preview-container .view .header a {
  cursor: pointer;
  display: flex;
}
body main .setup-wrapper .preview-container .view .header a.pr-title {
  text-decoration: none;
  font-size: 1.8em;
  color: var(--b);
}
body main .setup-wrapper .preview-container .view .header .main {
  height: auto;
  padding: 1em;
}
body main .setup-wrapper .preview-container .view .header .tabs_header {
  height: 5vh !important;
}
body main .setup-wrapper .preview-container .view .content {
  --width-aside:30%;
  --width-wrapper: calc(100% - var(--width-aside));
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 100%;
}
body main .setup-wrapper .preview-container .view .content div.aside {
  width: var(--width-aside);
  padding: 1em;
  height: 100%;
  background: var(--background-op);
}
@media all and (max-width: 800px) {
  body main .setup-wrapper .preview-container .view .content div.aside {
    display: none;
  }
}
body main .setup-wrapper .preview-container .view .content div.aside .collapsible {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}
body main .setup-wrapper .preview-container .view .content div.aside .collapsible * {
  border: none;
}
body main .setup-wrapper .preview-container .view .content div.aside .collapsible li:last-child .collapsible-header {
  border-top: 1px solid var(--border-color) !important;
}
body main .setup-wrapper .preview-container .view .content div.aside .collapsible .collapsible-body .buttons-to-section label {
  font-size: 11px !important;
}
body main .setup-wrapper .preview-container .view .content .wrapper {
  width: var(--width-wrapper);
  height: 100%;
  padding: 1em;
}
@media all and (max-width: 800px) {
  body main .setup-wrapper .preview-container .view .content .wrapper {
    width: 100%;
  }
}
body main .setup-wrapper .preview-container .view .content .wrapper * {
  font-size: 11px;
}
body main .setup-wrapper .preview-container .view .content .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body main .setup-wrapper .preview-container .view .content .wrapper ul li {
  border-radius: 5px !important;
  border: 1px solid rgba(var(--rgb)/18%);
}
body main .setup-wrapper .preview-container .view .content .wrapper ul li .collapsible-header {
  background: var(--background-op);
  color: var(--b);
  border: none;
  box-shadow: none;
}
body main .setup-wrapper .preview-container .view .content .wrapper ul li .collapsible-header h1 {
  width: 100%;
  display: flex;
}
body main .setup-wrapper .preview-container .view .content .wrapper ul li .collapsible-header h1 i {
  margin-left: auto;
}
body main .setup-wrapper .preview-container .view .content .wrapper ul li .collapsible-header p {
  white-space: nowrap;
}
body main .setup-wrapper .preview-container .view .content .wrapper ul li .collapsible-body {
  background: var(--background);
  color: var(--b);
}
body main .setup-wrapper hr {
  width: 100%;
  border: 1px solid var(--w);
  background: var(--w);
  border-right: 1000px;
}

/*# sourceMappingURL=admin_pages.css.map */
