body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-topbar);
  z-index: 9999;
  background: var(--w);
  border: 1px solid var(--border-color);
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  background: var(--w) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: none !important;
}
body header .main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  margin-top: auto;
  height: 10vh;
}
body header .tabs_header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 6vh;
  background: var(--topbar);
}
body header .tabs_header a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: var(--b);
  cursor: pointer;
}
body header .tabs_header a:hover:not(.dropdown-more-container) {
  color: var(--active-color);
}
@media screen and (min-width: 1800px) {
  body header .tabs_header a:first-child {
    padding-left: 0;
  }
}
body header .tabs_header label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5em;
  padding: 0.5em;
  background: var(--topbar);
  border-radius: 5px;
  cursor: pointer;
}
body header .tabs_header label.no-input input {
  display: none;
}
body header .tabs_header label i {
  transition: transform 0.5s;
}
body header .tabs_header label:hover {
  outline: 2px solid var(--active-color);
}
body header .tabs_header .dropdown-more-container {
  position: relative;
  background: none;
  margin: auto 1em auto auto;
  padding: 0;
}
body header .tabs_header .dropdown-more-container.active {
  outline: 2px solid var(--active-color);
  outline-offset: 2px;
}
body header .tabs_header .dropdown-more-container .dropdown-more-button {
  padding: 0.2em 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
body header .tabs_header .dropdown-more-container .dropdown-more-menu {
  display: none;
  position: absolute;
  top: calc(100% + 0.5em);
  right: 0;
  width: 300px;
  list-style: none;
  background: var(--btn-main-bg);
  color: var(--b);
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid var(--border-color);
  padding: 0.5em;
  border-radius: 6px;
  flex-direction: column;
  gap: 0.5em;
}
body header .tabs_header .dropdown-more-container .dropdown-more-menu .animation-toggle {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body header .tabs_header .dropdown-more-container .dropdown-more-menu li:not([class$=-title]) {
  padding: 0.5em;
  background: var(--topbar);
  border-radius: 5px;
}
@media (pointer: fine) {
  body header .tabs_header .dropdown-more-container .dropdown-more-menu li:not([class$=-title]):hover {
    outline: 2px solid var(--active-color);
  }
}
body header .tabs_header .dropdown-more-container .dropdown-more-menu li.active {
  color: var(--active-color);
  outline: 2px solid var(--active-color);
}
body header #website-title {
  text-decoration: none;
  font-size: 1.8em;
  color: var(--b);
}
body header #server-logo {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 2px;
}
body header .logo-server {
  margin-left: auto;
}
body header .hamburger-menu {
  display: none;
  width: fit-content;
  border-color: var(--border-color) !important;
}
body header .hamburger-menu .icon {
  position: absolute;
  top: -0.8em;
  right: -1em;
  background: var(--active-color);
  border-radius: 1000px;
  width: 2em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
body header .hamburger-menu .icon i {
  color: var(--w);
}
body header .loading-bar {
  height: 5px;
  width: 100vw;
  background: var(--topbar);
  position: absolute;
  bottom: -1px;
  left: -1px;
  overflow: hidden;
}
body header .loading-bar .container {
  width: 100%;
  height: 100%;
  position: relative;
}
body header .loading-bar .container .loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  border-radius: 100px;
  background: var(--active-color);
  animation: 3s loading infinite ease-in;
}
body header .loading-bar .container .loader:nth-child(1) {
  animation-delay: 1s;
}
@keyframes loading {
  0% {
    width: 0;
    margin-left: -100%;
  }
  100% {
    width: 100%;
    margin-left: 100%;
  }
}
@media screen and (max-width: 1300px) {
  body header *:not(.pages) #website-title,
body header *:not(.pages) .right-align {
    display: none;
  }
  body header *:not(.pages) .hamburger-menu {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  body header {
    --height-topbar: 20vh!important;
  }
  body header .tabs_header span[class^=tabs]:not(.tabs-dm) {
    display: none;
  }
}
body .links-box-box {
  --border-r: 6px;
  display: none;
  border: 1px solid var(--border-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  background-color: var(--btn-main-bg);
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: center;
  border-radius: var(--border-r);
  position: absolute;
  padding: 0.5em;
  z-index: 1;
  top: calc(100% + 0.5em);
  left: 50%;
  transform: translateX(-50%);
  color: var(--b);
}
body .links-box-box .links-lks {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 1em;
  padding: 0.5em;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}
body .links-box-box .links-lks i:last-child {
  margin-left: auto;
}
body .links-box-box .links-lks:hover {
  outline: 2px solid var(--active-color);
}

/*# sourceMappingURL=header.css.map */
