body {
  --sum: calc(var(--size-aside-wide-screen) + var(--size-content-wide-screen));
}
@media screen and (min-width: 1800px) {
  body .tabs_header {
    padding: 0 calc((var(--width-window) - var(--sum)) / 2);
  }
}
@media screen and (min-width: 1800px) {
  body header .main {
    padding: 0 calc((var(--width-window) - var(--sum)) / 2 + 1em) !important;
  }
}
body .wrapper {
  width: 100%;
}
@media screen and (min-width: 1800px) {
  body .wrapper {
    justify-content: center !important;
  }
}
body .wrapper aside {
  min-width: var(--width-aside);
  height: 100vh;
}
body .wrapper aside .background-fixed {
  width: var(--width-aside);
}
@media screen and (min-width: 1800px) {
  body .wrapper aside {
    width: var(--size-aside-wide-screen) !important;
    min-width: 0;
    padding: 1em 0 !important;
  }
  body .wrapper aside .background-fixed {
    background: none !important;
    width: var(--size-aside-wide-screen) !important;
    min-width: 0;
  }
}
@media screen and (min-width: 1800px) {
  body .wrapper .content {
    width: var(--size-content-wide-screen) !important;
  }
}
body .wrapper .content.index-page {
  width: calc(var(--width-window) - var(--width-aside));
}
body .wrapper .content.index-page li:not(.paginate_button) {
  margin: 1em !important;
}
@media screen and (max-width: 1300px) {
  body .wrapper .content.index-page {
    width: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  body .wrapper .content.index-page {
    width: 100% !important;
    margin: 0 !important;
  }
}
@media screen and (min-width: 1800px) {
  body .wrapper .content.index-page .wrapper-pie {
    flex-direction: column !important;
  }
  body .wrapper .content.index-page .wrapper-pie .chart-container {
    width: 70% !important;
  }
  body .wrapper .content.index-page .wrapper-pie .array-infos-ba {
    width: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  body .wrapper .content.index-page .wrapper-pie {
    flex-direction: column !important;
  }
  body .wrapper .content.index-page .wrapper-pie .chart-container,
body .wrapper .content.index-page .wrapper-pie .array-infos-ba {
    width: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  body .wrapper .content {
    width: calc(100% - 2em) !important;
  }
}
@media screen and (min-width: 1800px) {
  body .wrapper .content-main {
    width: var(--size-content-wide-screen) !important;
  }
}
body .wrapper .content-main:not(.sp) {
  max-width: calc(var(--width-window) - var(--width-aside));
  width: 100%;
  padding: 1em;
}
@media screen and (max-width: 1000px) {
  body .wrapper .content-main:not(.sp) .user-infos {
    width: 100%;
    margin-top: 0 !important;
  }
}
body .wrapper .content-main:not(.sp) .labels {
  margin: 1em 0;
}
body .wrapper .content-main:not(.sp) .content li.user-page {
  margin: 1em 0 !important;
}
body .wrapper .content-main:not(.sp) .content li:last-child {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 1000px) {
  body .wrapper .content-main:not(.sp) .content {
    width: 100% !important;
  }
}
@media screen and (min-width: 1800px) {
  body .wrapper .content-main:not(.sp) {
    width: var(--size-content-wide-screen);
  }
  body .wrapper .content-main:not(.sp) .wrapper-content {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 1300px) {
  body .wrapper .content-main:not(.sp) {
    max-width: var(--width-window);
    margin: 0 !important;
  }
}
@media screen and (max-width: 1000px) {
  body .wrapper .content-main:not(.sp) {
    width: 100% !important;
  }
}
@media screen and (min-width: 1800px) {
  body .wrapper .sp .search_p {
    width: 100% !important;
    margin: 1em 0 !important;
  }
}
@media screen and (max-width: 750px) {
  body .wrapper .sp .searchBar_user {
    flex-direction: column !important;
  }
}

/*# sourceMappingURL=sizes.css.map */
