.dataTables_wrapper{
  display: flex;
  flex-direction: column;
  
  @media screen and (max-width: 1000px) {
    max-width: var(--width-table-1000);
  }
}

table{
  border-radius: 10px;
  overflow: hidden;
  max-width: var(--width-table);
  background: var(--background-op)!important;
  border: 1px solid rgb(var(--rgb_border) / 15%) !important;

  thead,
  tfoot{
    background: var(--background);
    .row_table_def{text-transform: capitalize}
    th{
      padding: 1em;
      border-left: 1px solid var(--border-color) !important;
      white-space: nowrap;
    }
  }

  thead{
    th:first-child{
      border-top-left-radius: 10px!important;
      border-left-width: 0!important;
    }
    th:last-child{
      border-top-right-radius: 10px!important;
    }
  }
  tfoot{
    th:first-child{
      border-bottom-left-radius: 10px!important;
      border-left-width: 0!important;
    }
    th:last-child{
      border-bottom-right-radius: 10px!important;
    }
  }

  tbody{
    tr{
      cursor: pointer;
      td{
        padding: 1em;
        border-left: 1px solid var(--border-color) !important;
        border-bottom: 1px solid var(--border-color) !important;
        &:first-child{
          display: flex;
          align-items: center;
          gap: 1em;
          img{
            width: 2em;
            border-radius: 2px;
          }
        }
        &:first-child{
          border-left: 0!important;
        }
      }
      &:last-child{
        td{
          border-bottom: 0!important;
        }
      }
      &.selected *{
        box-shadow: inset 0 0 0 9999px var(--active-color)!important;
        background: var(--active-color)!important;
      }
    }
    .dataTables_empty{color: red}
  }
}
.pagination{
  list-style: none;
  display: flex;
  a{
    text-decoration: none;
  }
}

.page-item{
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--active-color);
    background: var(--w);
    border: 1px solid rgb(var(--rgb_border) / 15%);
  }
  &.active{
    .page-link {
      z-index: 3;
      color: var(--w);
      background-color: var(--active-color);
      border-color: var(--active-color);
    }
  }
  &.disabled{
    .page-link {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background: var(--w);
      border-color: rgb(var(--rgb_border) / 15%);
    }
  }
  &:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  &:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.row{
  overflow-x: auto;
  &:first-child{
    margin:0 0 1em auto;
    .col-sm-12:last-child{display: none}
  }
  &:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .dataTables_info{
      padding: 0;
    }
  }
}

.custom-select{
  width: 100%;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px;
  margin: 0 6px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  white-space: nowrap;
  word-wrap: break-word;
}
