:root {
    /*Adapt the colors of the website*/
    /*For the background gradient, please see the parameters.js file*/

    --tinted-main-light-color: 255 255 255;
    --tinted-main-dark-color: 36 41 46;
    --topbar-light-color: 237 237 237;
    --topbar-dark-color: 48 55 64;
    --active-light-color: 0 123 255;
    --active-dark-color: 111 123 255;
    --border-of-elements-light-color: 27 31 35;
    --border-of-elements-dark-color: 255 255 255;

    /*Adapt the size of the website for wide screen*/
    /*!important is required at the end of the property to override the initial one*/
    --size-aside-wide-screen:400px!important;
    --size-content-wide-screen:800px!important;
}